.footer {
    position: relative;
    padding: 52px 20px 32px;
    background-color: $grey-700;
    border-top: 12px solid $grey-500;

    &__toy-image-wrapper {
        display: none;

        @include for-tablet-landscape-up {
            max-width: 220px;
            height: auto;
            display: block;
            position: absolute;
            top: -90px;
            left: 40px;
        }
    }

    &__navigation {
        display: grid;
        grid-template-columns: repeat(auto-fit, 190px);
        justify-content: space-between;
        column-gap: 25px;
        row-gap: 40px;
        width: 80%;
        margin-bottom: 30px;
        
        @include for-tablet-landscape-up {
            max-width: 60%;
            margin-left: auto;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include for-desktop-up {
            max-width: 75%;
        }

        ul {
            &:first-child {
                margin-bottom: 4px;
            }

            & > * ~ * {
                margin-top: 12px;
            }
            h6 {
                color: $primary-white;
            }

            a {
                color: $grey-200;
            }
        }
    }

    .policy-cpright {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 2px solid $grey-600;
        text-align: center;
        color: $grey-500;
    }
}
