/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.6rem;
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

button:hover {
  cursor: pointer;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #565656;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3.6rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
}

h2 {
  font-size: 3rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
}

h4 {
  font-size: 2.2rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
}

h5 {
  font-size: 2rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
}

h6 {
  font-size: 1.8rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
}

.o-primary-wrapper {
  padding: 0 20px;
}

.o-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.o-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-flex--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: block;
  outline: none;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  padding: 10px 22px 12px;
  background-color: #FF9100;
  color: #FFFFFF;
  border-radius: 100px;
  font-weight: 600;
  font-size: 1.6rem;
}

.top-navigation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 5px 0px #00000033;
          box-shadow: 0px 1px 5px 0px #00000033;
  -webkit-box-shadow: 0px 3px 4px 0px #0000001f;
          box-shadow: 0px 3px 4px 0px #0000001f;
  -webkit-box-shadow: 0px 3px 5px 0px #00000024;
          box-shadow: 0px 3px 5px 0px #00000024;
}

.top-navigation__arrow {
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 13px solid #565656;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-right: 15px;
}

.top-navigation__logo-wrapper img {
  width: 44px;
  height: 36px;
}

.top-navigation__logo-text {
  color: #FF9100;
  font-weight: 700;
  font-size: 1.3rem;
}

.top-navigation__logo-text .kids {
  line-height: 1.1rem;
}

.top-navigation__list {
  position: relative;
}

.top-navigation__list > * ~ * {
  margin-left: 24px;
}

.top-navigation__list-item.nav-link {
  font-weight: 500;
  position: absolute;
  top: -100px;
  left: -500px;
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
}

.top-navigation__list-item.nav-link:hover a {
  color: #FF9100;
}

.top-navigation__list.appear {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: #E5E5E5;
  position: absolute;
  top: 0;
  left: 0;
}

.top-navigation__list.appear .top-navigation__list-item {
  margin: 20px;
  position: initial;
  top: 0px;
  left: 0px;
}

.top-navigation__list.appear:first-child {
  padding-top: 10px;
}

.top-navigation .burger-menu-wrapper {
  margin-left: 24px;
  height: 25px;
}

.top-navigation .burger-menu-wrapper:hover {
  cursor: pointer;
}

.top-navigation .burger-menu-wrapper.open .burger-menu {
  background: transparent;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.top-navigation .burger-menu-wrapper.open .burger-menu::before {
  -webkit-transform: rotate(45deg) translate(0.5rem, 0.3rem);
          transform: rotate(45deg) translate(0.5rem, 0.3rem);
}

.top-navigation .burger-menu-wrapper.open .burger-menu::after {
  -webkit-transform: rotate(-45deg) translate(0.5rem, -0.5rem);
          transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

.top-navigation .burger-menu {
  display: block;
  position: relative;
}

.top-navigation .burger-menu, .top-navigation .burger-menu::after, .top-navigation .burger-menu::before {
  height: 2.3px;
  width: 24px;
  background-color: #565656;
  border-radius: 1px;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}

.top-navigation .burger-menu::after, .top-navigation .burger-menu::before {
  content: "";
  position: absolute;
}

.top-navigation .burger-menu::after {
  top: 6.5px;
}

.top-navigation .burger-menu::before {
  top: -6.5px;
}

.home-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
}

.c-home-header {
  height: 300px;
  background-color: #44A9F8;
  color: #FFFFFF;
}

.c-home-header__beginner-notice {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FFCB29;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}

.c-home-header__heading {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */