.trainers-page-header {
    color: $primary-white;
    background-color: $orange-600;
    padding: 64px 20px;
    text-align: center;
    &__heading {
        font-weight: 600;
        margin: 0 0 24px;
    }

    &__description {
       color: $primary-white;
       font-weight: 400;
       line-height: 2rem;
    }
}