.take-part-in {
    background-color: $blue-300;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 12px solid $blue-200;

    &__header {
        
        @include for-tablet-portrait-up {
            text-align: center;
            max-width: 80%;
            margin: 0 auto;
        }
    }

    input,
    &__heading,
    &__description {
        color: $primary-white;
    }

    &__heading {
        margin-bottom: 24px;
        line-height: 3rem;
    }

    &__description {
        font-weight: 400;
        line-height: 2rem;
        margin-bottom: 48px;
    }

    .submit-form {

        display: grid;
        grid-template-rows: max-content max-content max-content max-content;
        row-gap: 32px;

        @include for-tablet-landscape-up {
            display: flex;
        }

        @include for-desktop-up {
            width: 90%;
            margin: 0 auto;
        }

        input {
        display: block;
        border: 1px solid $primary-white;
        border-radius: 6px;
        background: transparent;
        padding: 16px;
        width: 100%;

        @include for-tablet-portrait-up {
            width: 80%;
            margin: 0 auto;
        }

        @include for-tablet-landscape-up {
            flex: 1;
            margin: 0 30px 0 0;
        }

        &,
        &::placeholder {
            color: $primary-white;
            font-weight: 400;
        }
    }

    .btn--primary {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 12px;

        @include for-tablet-portrait-up {
            width: 40%;
            margin: 0 auto;
        }

        @include for-tablet-landscape-up {
            width: max-content;
        }

    }
  }
}
