.contacts-page__main {
    
    .how-to-reach {
        background-color: $grey-50;;
        padding-top: 96px;
        padding-bottom: 96px;

        &__heading {
            color: $green-300;
            font-size: 3rem;
            margin-bottom: 48px;
            letter-spacing: .7px;
            line-height: 3.2rem;

            @include for-desktop-up {
              text-align: center;
              margin-bottom: 58px;
            }
        }

        &__list-heading {
            color: $green-300;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        &__list-item {
            margin-bottom: 12px;
        }

        &__navigation {
            & > * ~ * {
                margin-top: 46px;
            }

            @include for-desktop-up {
                display: flex;
                justify-content: space-between;

                & > * ~ * {
                    margin: 0 0 0 30px;
                }
            }
        }
    }
}