$blue-400: #44A9F8;
$blue-300: #66B9F8;

$green-300: #41BEAD;
$green-50: #DFF4F1;

$primary-white: #FFFFFF;
$background-white: #E5E5E5;

$orange-900: #FF9100;
$orange-600: #FFB402;
$orange-200: #FFCB29;
$orange-100: #FFECB3;

$grey-700: #565656;
$grey-600: #696969;
$grey-500: #919191;
$grey-400: #B2B2B2;
$grey-200: #E6E6E6;
$grey-100: #C4C4C4;