$blue-400: #44A9F8;
$blue-300: #66B9F8;

$green-300: #41BEAD;

$primary-white: #FFFFFF;
$background-white: #E5E5E5;

$orange-900: #FF9100;
$orange-200: #FFCB29;

$grey-700: #565656;
$grey-400: #B2B2B2;
$grey-200: #E6E6E6;